/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-site-functionality-social-cards {
    .wp-block-social-links {
        &.is-flex {
            display: flex;
            gap: 0.5em;
            flex-wrap: wrap;
        }

        &.is-vertical {
            flex-direction: column;
        }
    }

}